.section {
  padding: 107px 0 56px;

  background-color: #001826;

  background-image: url(/images/mobile/hero-bg-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 115px 0 64px;
    background-image: url(/images/tablet/hero-bg-tab.jpg);
  }
}
