.section {
  padding: 56px 0;

  background-color: #001826;

  /* background-image: url(/images/mobile/we-Offer-bg-mob-1.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
