.section {
  padding: 56px 0;

  background-color: #001826;

  background-image: url(../../../public/images/mobile/about-bg-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 56px 0;
    background-image: url(/images/tablet/about-bg-tab.jpg);
  }
}
