.section {
  padding: 56px 0;

  background-color: #001826;

  background-image: url(../../../public/images/mobile/about-bg-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
