@media screen and (max-width: 767px) {
  .section {
    padding: 56px 0;

    background-color: #001826;
    background-image: url(/images/mobile/career-bg-mob.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .section {
    position: absolute;
    right: 32px;
    bottom: 0px;
  }
}
